body {
    background-color: #E5E5E5;
}
* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}
.container{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.form_img{
    margin-bottom: 20px;
}
.wrapper{
    position: absolute;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 16px;
    justify-content: center;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 24px;
    top: 50%;
    margin-top: -232px;
    min-width: 360px;
    max-width: 400px;
    max-height: 464px;
}
.form_title{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
    color: #373745;
    margin-top: 0px;
}
.form{
    max-width: 350px;
}
.inputs input{
    resize: none;
    width: 100%;
    height: 48px;
    max-height: max-content;
    overflow: hidden;
    box-sizing: border-box;
    padding: 12px 20px;
    gap: 8px;
    background: #FFFFFF;

    border: 1px solid #DCDCDF;
    border-radius: 12px;


    /* Body / 16px regular */
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.24px;

    color: #373745;
}
.inputs input::placeholder{
    font-weight: 400;
    font-size: 16px;
    color: #B1B1B7;

}

.inputs input:first-child{
    margin-bottom: 12px;
}
.form_btn{
    background: rgba(96, 194, 170, 0.3);
    border-radius: 12px;
    margin-top: 20px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}
