body {
    background-color: #E5E5E5;
}
* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}
header {
    position: fixed;
    width: -webkit-fill-available;
    max-height: 64px;
    left: 0;
    top: 0;

    /* Gray / White */

    background: #FFFFFF;
    /* Elevation/Lv1 */

    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 0px 0px 16px 16px;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    gap: 10px;
}

button {
    display: flex;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
#logo{
    display: flex;
}
#nav-panel {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 16px;

    height: 32px;


    /* Inside auto layout */

    flex: none;
    flex-grow: 0;
}

#nav-panel div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px;
    gap: 10px;

    /* Inside auto layout */

    flex: none;
    flex-grow: 0;

    /* Body / 16px medium */

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.24px;

    /* Gray / 700 */

    color: #373745;
}

#nav-panel .active {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px;
    gap: 10px;

    background: #60C2AA;
    border-radius: 200px;
    color: white;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.container{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98vh;
}
.wrapper{
    position: absolute;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 40px;
    max-width: 962px;
    justify-content: center;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    padding: 32px;
    top: 50%;
    margin-top: -232px;
    min-width: 360px;
    /*max-width: 400px;*/
    /*max-height: 464px;*/

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.24px;

    color: #373745;
}
.rate_title{
    font-weight: 700;
    font-size: 24px;
    color: #373745;
    margin-top: 0;
    margin-bottom: 24px;
}
.wins{
    color: #69B849;
}
.fails{
    color: #E93E3E;
}
.rate_table{
    text-align: left;
}
.table_captions{
    font-weight: 500;
}
.rate_table_items{
    border-bottom: 2px solid #EEEFF5;
}